/************************************
GENERAL
*************************************/

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

/* hyperlinks don't change colour */
a {
  color: inherit;
  text-decoration: none;
 }

 h2 {
 	margin: 0;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    font-weight: 400;
 }

 p {
 	font-size: 26px;
	line-height: 40px;
 }

.section {
	padding: 60px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 748px) {
    .section {
        padding: 40px;
    }
}

@media screen and (max-width: 480px) {
    .section {
        padding: 40px 20px;
    }
    h2 {
        font-size: 40px;
        line-height: 60px;
    }
    p {
        font-size: 18px;
    }
}

/************************************
HEADER
*************************************/

.banner {
	text-align: center;
	width: 100%;
	background-image: url("../images/watercolor-txtr-for-web-min.jpg");
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.gk {
	text-align: center;
	width: 100%;
    padding: 60px;
    position: relative;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    float: none;
    position: relative;
}

.nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    padding: 0 20px;
    text-align: left;
    line-height: 35px;
}

.nav-link a {
    padding-top: 6px;
    padding-bottom: 6px;
    text-transform: uppercase;
    font-size: 24px;
    text-align: right;
    font-weight: 700;
    text-decoration: none;
}

.nomu-cover {
    max-height: 584px;
    max-height: 75vh;
    margin-top: 10px;
    /*height: 100%;*/
    max-width: 100%;
}

/*.nomu-cover img {
    max-width: 100%;
}*/

#social-links {
}

/*
.cover-pic {
	eight: 700px;
	width: 1000px;

}*/

@media screen and (max-width: 748px) {
    .gk {
        padding: 40px;
    }
}

@media screen and (max-width: 48px) {
    .gk {
        padding: 20px;
    }
}


/************************************
About
*************************************/

.about h2 {
	color: #e9e9e9;
    margin-top: 0;
}

.about p {
	color: #e9e9e9;
	font-size: 20px;
    text-align: left;
}


.about {
	background-image: url("../images/band-pic-bw-min.jpg");
	background-position: center top;
	background-size: cover;
	position: relative;
}

.about .text-bg {
    background-color: rgba(0,0,0,0.65);
    padding: 60px 80px;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
}

@media screen and (max-width: 480px) {
    .about .text-bg {
        padding: 20px;
        max-width: 100%;
    }
}

/************************************
MUSIC
*************************************/

.music iframe {
    max-width: 100% !important;
}

/************************************
SHOWS
*************************************/

.shows {
	max-width: 1200px;
}


/************************************
CONTACT
*************************************/

.contact {
	background-color: grey;
	background-image: url("../images/watercolor-txtr-for-web-min.jpg");
	background-size: cover;
}

footer p {
	font-size: 16px;
}

#social-links-footer {
	width: 100%;
	padding-top: 25px;
	margin: 0 auto;
}
