/************************************
GENERAL
*************************************/

body {
  font-family: 'Lato', sans-serif;
}

.section-title {
	margin-bottom: 30px;
	font-size: 60px;
	line-height: 80px;
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
}

/************************************
HEADER
*************************************/


.banner {
	text-align: center;
}

.gk-nomu {
	height: 700px;
	width: 700px;
}

/************************************
MUSIC
*************************************/


.music {
	text-align: center;
}

.soundcloud {
	width: 50%;
	height: 150;
}

/************************************
MUSIC
*************************************/

.shows {
	margin-right: auto;
	margin-left: auto;
	max-width: 940px;
}
